body {
    background-color: aliceblue;
}

.title {
    background: rgb(43, 91, 180);
    border-radius: 10px;
    width: 96%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    padding: 2%;
}

.side_panel {
    background-color: rgb(43, 91, 180);
    width: auto;
    border-radius: 10px;
}

.side_menu {
    list-style-type: none;
    font-size: large;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline;
}

.side_menu_item {
    background-color: aliceblue;
    color: rgb(43, 91, 180);
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: inline-block;

}

.side_menu_item:hover {
    background-color: rgb(70, 70, 70);
    color: aliceblue;
}

a:link {
    text-decoration: none;
}

.main_panel {
    background-color: rgb(43, 91, 180);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 1%;
    border-radius: 10px;
    padding: 1%;
    width: auto;
    margin-top: 1%;
}

.main_panel_title {
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    width: 100%;
    text-indent: 1%;
    padding-top: .4%;
    padding-bottom: .4%;
}
